body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
}
h2 {
    color: #333;
    border-bottom: 2px solid purple;
    margin-top: 30px;
    padding-bottom: 5px;
}
ul {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10;
    list-style-type: square;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 15px;
}

th {
    background-color: purple;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
}
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
form div {
    margin-bottom: 15px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}
input[type="submit"] {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

input[type="reset"] {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
}
input[type="submit"], input[type="reset"] {
    padding: 10px;
    margin-top: 10px;
}
img {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 200px;
}
.container {
    width: 90%;
    margin: auto;
}